body{
    margin: 0px;
    background-color: rgb(28, 25, 50);
}


.cabecalho{
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color:rgb(12, 11, 23);
    align-items: center;
    border-bottom: 2px solid rgb(43, 38, 83);
    gap: 10px;
}

.opcoes li a{
    position: absolute;
    background-color: aqua;
    color: beige;   
    display: flex;
    align-items: center;
}

.logoProgramador{
    display: flex;
    padding: 20px;
    width: 32px;
    height: 32px;
}