body {
  margin: 0 auto;
  background-color: rgb(28, 25, 50);
  
}

.cabecalho {
  height: 70px;
  background-color: rgb(12, 11, 23);
  border-bottom: 3px solid #41397a;
}

.opcoes {
  color: aliceblue;
  text-align: center;
}

.opcoes li {
  font-family: "Noto Sans", sans-serif;
  display: inline-block;
  margin-right: 10px;
  padding: 20px;
  font-size: 16px;
  letter-spacing: 2px;
}

.opcoes li:hover {
  border-bottom: 2px solid aliceblue;
}

#sobreMim {
  position: relative;

}

.boasvindas {
  position: absolute;
  font-family: "Noto Sans", sans-serif;
  text-align: justify;
  top: 40%; /* Ajuste conforme necessário */
  left: 35%;
  z-index: 1;
  transform: translate(-50%, -50%);
  color: aliceblue;
  letter-spacing: 2px;
  padding: 20px;
  max-width: 80%;
  box-sizing: border-box;
  overflow: hidden;
  
}


.fotoPerfil {
  position:absolute;
  top: 20%; /* Ajuste conforme necessário */
  left: 68%;
  z-index: 1;
  max-width: 100%;
}
.boasvindas h1 {
  font-size: 64px;
  letter-spacing: 2px;
}

.boasvindas h1,
.boasvindas h3 {
  margin: 0; 
}
.imagemDeFundo {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  max-width: 100%;
  z-index: 0;
}

.meusProjetos {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
  color: aliceblue;
  font-size: 48px;
}
.chessburger {
  color: aliceblue;
  padding: 20px 20px 20px 20px;
}

.chessburger img {
  display: block;
  width: 1024px;
  justify-content: center;
  margin: 0px auto;
  padding: 40px;
  max-width: 100%;
}

#logochess {
  background-color: aliceblue;
  display: flex;
  width: 512px;
  max-width: 100%;
  justify-content: center;
  margin: 0 auto;
  border-radius: 20%;
}

.chessburger a {
  display: inline-block;
  font-size: 24px;
  color: rgb(196, 84, 47);
  padding: 20px 0px;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 2px;
}

.chessburger h4 {
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 2px;
  text-align: justify;
}

section {
  background: linear-gradient(
    to top,
    rgba(242, 174, 27, 0.281),
    rgba(0, 0, 0, 0)
  );
}

.screamingSouls {
  color: aliceblue;
  display: block;
  padding: 20px 20px 20px 20px;
}

.screamingSouls h1 {
  display: block;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 48px;
}

.screamingSouls a {
  display: inline-block;
  font-size: 24px;
  color: rgb(196, 84, 47);
  padding: 20px 0px;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 2px;
}

.screamingSouls h4 {
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 2px;
  text-align: justify;
}

.screamingSouls img {
  display: block;
  width: 1024px;
  justify-content: center;
  margin: 0px auto;
  padding: 40px;
  max-width: 100%;
}
