body{
    margin: 0px;
    background-color: rgb(28, 25, 50);
}

.cabecalho{
    height: 80px;
    background-color:rgb(12, 11, 23);
    border-bottom: 2px solid #342e62;
}

.opcoes{
    color: aliceblue;
    text-align: center;
    padding: 2px;
}

.opcoes li{
    font-family: 'Noto Sans', sans-serif;
    display: inline-block;
    margin-right: 15px;
    padding: 24px;
    font-size: 18px;
}

.opcoes li:hover{
    border-bottom: 1px solid white;
}

.boasvindas{
    position: relative;
    color: aliceblue;
    font-size: 32px;

}
.imagemDeFundo{
    position: relative;
    height: auto;
    background-repeat: no-repeat;
    max-width: 100%;
}